
:root {
    --blue-theme: #cf7c00;
    --dark-blue-theme: rgb(14, 14, 105);
    --light-blue-theme: #348bd1;
    --message-blue-theme: #0c6ab8;
    --light-grey: rgb(212, 211, 211);
}

body {
    background-color: white;
}



#homepage-main {
    display: flex;
    flex-direction: row;

    color: rgb(241, 241, 241);
    padding: 0 1.5vw;
    margin-top: 0;


    color: black;
}

#right-side-main {
    width: 50%;

    margin-top: 0;
    padding-top: 0;
}

#homepage-title {
    font-size: 10vw;

    margin-top: 1.5vh;
    text-decoration: underline;
    text-decoration-color: var(--light-blue-theme);
    text-decoration-thickness: 5px;
}

#left-side-main {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin-top: 0;
    padding-top: 0;
}


#find-form {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0 2vh;
    height: 100%;
    margin-top: 0;
    padding-top: 5.5vh;
    text-align: center;

    justify-content: center;
    align-self: center;
    padding: 2vh;
    height: 100%;


    justify-content: center;
    align-self: center;
    padding: 2vh;
    height: 100%;

}

#find-form label {
    font-size: 2.5vw;
}



#form-title {
    padding: 0 1vh;
    margin-bottom: 1vh;
    font-size: 3vw;
    font-weight: bold;

    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--light-blue-theme);
    text-decoration-thickness: 2px;
}

#find-form input, #find-form select {
    width: 30vw;

    height: 8vh;
    font-size: 1.8vw;

    height: 5vh;
    font-size: 1.5vw;
    padding: 0;
    margin-bottom: 4vh;
    
}
