#vehicle-image {
    width: 40vw;
    height: 50vh;
}

:root {
    --blue-theme: #0073cf;
    --dark-blue-theme: rgb(14, 14, 105);
    --light-blue-theme: #348bd1;
    --message-blue-theme: #0c6ab8;
    --light-grey: rgb(212, 211, 211);
}

body {
    background-color: white;
    background-image: none;
}

#main-container {
    display: flex;
    flex-direction: row;
}

#main-container h4 {
    color: white;
    font-size: 2vw;;
}

#image-predictor {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#sell-form {
    display: flex;
    flex-direction: column; 
    width: 50%
}

button {
    width: 5vw;
    height: 3vh;

}


#sell-form {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0 2vh;
    height: 100%;
    margin-top: 0;
    padding-top: 5.5vh;
    text-align: center;

    justify-content: center;
    align-self: center;
    padding: 2vh;
    height: 100%;


    justify-content: center;
    align-self: center;
    padding: 2vh;
    height: 100%;

}

#sell-form label {
    font-size: 2.5vw;
    color: black;
    
}

#sell-form input {
    width: 30vw;

    height: 8vh;

    height: 5vh;
    font-size: 1.5vw;
    padding: 0;
    margin-bottom: 4vh;
    font-size: 2.2vw;
    text-align: center;

    
}

#predict-button, #sell-form button{
    width: 30vw;

    height: 5vh;
    font-size: 1.8vw;
    padding: 0;
    margin-bottom: 4vh;

    border: white;
    background-color: var(--light-blue-theme);
    color: white;
    border-radius: 20px;
}

#submit-button {
    background-color: white;
    width: 30vw;
    height: 5vh;
    font-size: 1.8vw;
    padding: 0;
    margin-bottom: 4vh;
    font-size: 1.8vw;
    border-radius: 20px;
    border: 2.5px solid var(--light-blue-theme);
    color: black;
    margin-top: 2vh;
}

#sell-form button {
    height: 7.5vh;
    font-size: 2vw;
    font-weight: 500;
    margin-top: 4vh;
}

