#vehicle-image {
    width: 40vw;
    height: 50vh;
}

:root {
    --blue-theme: #0073cf;
    --dark-blue-theme: rgb(14, 14, 105);
    --light-blue-theme: #348bd1;
    --message-blue-theme: #0c6ab8;
    --light-grey: rgb(212, 211, 211);
}

body {
    background-color: black;
    background-image: none;
}

#main-container {
    display: flex;
    flex-direction: row;
}

#main-container h4 {
    color: white;
    font-size: 2vw;;
}

#image-predictor {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#sell-form {
    display: flex;
    flex-direction: column; 
    width: 50%
}

button {
    width: 5vw;
    height: 3vh;

}

#page-links-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-links-nav-item {
    border-bottom: 2px solid var(--message-blue-theme);
    height: 6vh;
    width: 100%;
    font-size: 1.7vw;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;


}

#topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#contact-details-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 6vw;

    width: 50%;
    font-size: 1.5vw;
}

.page-links-nav-item:hover {
    border-bottom: 2px solid var(--light-blue-theme);
    background-color: rgba(240, 248, 255, 0.123);

    gap: 6vw;
}

li a {
    text-decoration: none;
    color: inherit;
    gap: 6vw;
}

#sell-form {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0 2vh;
    height: 100%;
    margin-top: 0;
    padding-top: 5.5vh;
    text-align: center;

    justify-content: center;
    align-self: center;
    padding: 2vh;
    height: 100%;


    justify-content: center;
    align-self: center;
    padding: 2vh;
    height: 100%;

}

#sell-form label {
    font-size: 2.5vw;
    color: white;
    
}

#sell-form input {
    width: 30vw;

    height: 8vh;

    height: 5vh;
    font-size: 1.5vw;
    padding: 0;
    margin-bottom: 4vh;
    font-size: 2.2vw;
    text-align: center;

    
}

#predict-button, #sell-form button{
    width: 30vw;

    height: 5vh;
    font-size: 1.8vw;
    padding: 0;
    margin-bottom: 4vh;

    border: white;
    background-color: var(--light-blue-theme);
    color: white;
    border-radius: 20px;
}

#submit-button {
    background-color: black;
    width: 30vw;
    height: 5vh;
    font-size: 1.8vw;
    padding: 0;
    margin-bottom: 4vh;
    font-size: 1.8vw;
    border-radius: 20px;
    border: 2.5px solid var(--light-blue-theme);
    color: white;
    margin-top: 2vh;
}

#sell-form button {
    height: 7.5vh;
    font-size: 2vw;
    font-weight: 500;
    margin-top: 4vh;
}

